/* body {
  font-family: Tahoma;
} */

/*h2, h3 { 
  font-family: 'Monospace', sans-serif
}/*



/* Apply Monospace for the navbar 
.navbar, .navbar a {
  font-family: 'Monospace', sans-serif
}*/

details summary {
  color: inherit !important;
}


/*.details { 
  font-family: 'Monospace', sans-serif  
  color: black;
}*/


/*.works-in-progress {
  color: black;
  font-size: 90%;
  font-family: 'Monospace', sans-serif
}
*/

img {
  max-width: 100%;
  height: auto;
}

.social-tile {
  display: inline-block;
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #1da1f2; /* Twitter's blue color */
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}

/* Smaller font for abstracts */
details {
  font-size: 0.9em;
  line-height: 1.5;
}

/* Force the photo smaller */
.quarto-about-trestles .about-entity img {
  max-width: 220px !important;
  width: 220px !important;
}

/* Force the left column wider to fit name */
.quarto-about-trestles .about-entity {
  width: 350px !important;
  min-width: 350px !important;
  max-width: 350px !important;
}

/* Adjust the right column */
.quarto-about-trestles .about-contents {
  width: calc(100% - 380px) !important;
  max-width: calc(100% - 380px) !important;
  flex-grow: 1 !important;
}

/* Style for photo caption */
.photo-caption {
  font-size: 0.75em;
  font-style: italic;
  color: #666;
  text-align: center;
  margin-top: 0.5em;
}

/* Make sure the page container is wide enough */
#quarto-content {
  max-width: 1100px !important;
  width: 95% !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

/* Center the trestles layout */
.quarto-about-trestles {
  justify-content: center !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

/* Mobile responsive layout */
@media screen and (max-width: 768px) {
  .quarto-about-trestles {
    flex-direction: column !important;
    align-items: center !important;
  }
  
  .quarto-about-trestles .about-entity {
    width: 100% !important;
    max-width: 100% !important;
    min-width: unset !important;
    text-align: center !important;
  }
  
  .quarto-about-trestles .about-entity img {
    max-width: 200px !important;
    width: 200px !important;
    margin: 0 auto !important;
  }
  
  .quarto-about-trestles .about-contents {
    width: 100% !important;
    max-width: 100% !important;
  }
  
  #quarto-content {
    width: 100% !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}