/* body {
  font-family: Tahoma;
} */

/*h2, h3 { 
  font-family: 'Monospace', sans-serif
}/*



/* Apply Monospace for the navbar 
.navbar, .navbar a {
  font-family: 'Monospace', sans-serif
}*/

details summary {
  color: inherit !important;
}


/*.details { 
  font-family: 'Monospace', sans-serif  
  color: black;
}*/


/*.works-in-progress {
  color: black;
  font-size: 90%;
  font-family: 'Monospace', sans-serif
}
*/

img {
  max-width: 100%;
  height: auto;
}

.social-tile {
  display: inline-block;
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #1da1f2; /* Twitter's blue color */
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}

/* Smaller font for abstracts */
details {
  font-size: 0.9em;
  line-height: 1.5;
}

/* Force the photo smaller */
.quarto-about-trestles .about-entity img {
  max-width: 180px !important;
  width: 180px !important;
}

/* Force the left column narrower */
.quarto-about-trestles .about-entity {
  width: 200px !important;
  min-width: 200px !important;
  max-width: 200px !important;
}

/* Force the right column wider */
.quarto-about-trestles .about-contents {
  width: calc(100% - 230px) !important;
  max-width: calc(100% - 230px) !important;
  flex-grow: 1 !important;
}

/* Make sure the page container is wide enough */
#quarto-content {
  max-width: 1100px !important;
  width: 95% !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

/* Center the trestles layout */
.quarto-about-trestles {
  justify-content: center !important;
  margin-left: auto !important;
  margin-right: auto !important;
}